* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    
    width: 100vw;

    
}

h1 {
    background-color: whitesmoke;
    width: 100vw;
    padding: 5px 0;
}

.activity-box {
border: 1px black solid;
width: 70vw;
text-align: center;
min-height: 50px;
display: grid;
place-content: center;
background-color: white;
margin-top: 80px;
font-weight:600;
border-radius: 10px;
overflow: auto;
}

button {
    margin: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    font-weight: bolder;
}

.filter {
    margin: 20px 0;
    max-width: 90vw;
}

label{
    margin-right: 30px;
}


button:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}